.header {
    background-color: #333;
    color: #fff;
}

li {
    color: #999;
    _border: 1px solid red;
}

li a {
    border-right: 1px solid white;
    color: #fff;
}

li:nth-of-type(1) a {
    border-left: 1px solid white;
}

li a:hover {
    background-color: #bbb;
    color: #999;
}

li a:active {
    background-color: white;
    color: #999;
}



footer {
    background: #f5f5f5;
}

.row{
    border-top:solid #fff !important;
    background: #fff;
    color:#666;

}

.subtitle{
    color: #666;
}

.right{
    color: #666;
}

.llista-especial{
    color: #666;
}


.llista_simple>li {
    color: #666;
}

.llista_simple>li>a {
    color: #666;
}

.llista_simple>li>a::before {
    color: #bf0000;
}

