.header {
    background-color: #333;
    color: #fff;
}

li {
    color: #999;
    _border: 1px solid red;
}

li a {
    border-right: 1px solid white;
    color: #fff;
}

li:nth-of-type(1) a {
    border-left: 1px solid white;
}

li a:hover {
    background-color: #bbb;
    color: #999;
}

li a:active {
    background-color: white;
    color: #999;
}

.seccio_senar {
    background: #f5f5f5;
}

footer {
    background: #f5f5f5;
}

.seccio_senar{
    border-top:solid #fff !important;
}

.subtitle{
    color: #666;
}

.right{
    color: #666;
}