body {
    font-family: "Open Sans", sans-serif;
}

.header_titol {
    font-size: 28px;
    font-weight: 600;
}

li {
    font-family: "OpenSansSemibold", sans-serif;
    _font-weight: 600;
}

.subtitle{
    font-weight: inherit;
    font-size: 1.625em;
}

.right{
   font-size: 0.813em;
}