body {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
}

.header_titol {
    font-size: 28px;
    font-weight: 600;
}
h2{
    font-family: 'OpenSansRegular', Helvetica, Arial, sans-serif;
    font-size: 28px;

}
li {
    font-family: "OpenSansSemibold", sans-serif;
    _font-weight: 600;
}

.subtitle{
    font-weight: inherit;
    font-size: 1.625em;
}

.right{
   font-size: 0.813em;
}

.llista-especial{
    font-size: 0.875em;
    font-family: 'OpenSansRegular', Helvetica, Arial, sans-serif;
}


.llista_simple>li>a::before {
    font-size: 1.05em;
}
