* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100%;
    width: 100%;
    margin: auto;
}

.header_content {
    width: 960px;
    margin: auto;
}

.header {
    height: 100%;
}

ul {
    padding: 0px;
}

li {
    display: inline-block;
    _float: left;
    list-style: none;
    font-family: "OpenSansSemibold", sans-serif;
    _font-weight: 600;
}

li a {
    text-decoration: none;
    display: block;
    padding: 0.5em 1.125em;
}

.seccio_senar * {
    width: 960px;
    margin: auto;
}

.seccio_senar{
    border-top: 0.250em  ;
}

.seccio_parella * {
    width: 960px;
    margin: auto;
}

footer {
    margin-top: 30px;
}

footer * {
    width: 960px;
    margin: auto;
}

.subtitle{
    margin: 0 0 0.615em 0;
    display: inherit;
    margin: initial;
    padding: initial;
}

.right{
    border-bottom: 2px solid #ddd;
}

.right p{
    margin: 0;
}


