* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100%;
    width: 100%;
    margin: auto;
}

.header_content {
    width: 100%;
    margin: auto;
   
}

.header {
    padding-top:10px;
    height: 100%;
    min-height: 1px;
    padding-left: 26.5px;
    padding-right: 6.5px;

}
img{
    width: 100%;
    height: auto;
    margin:0 0 38px;
}
ul {
    padding: 0px;
}

li {
    display: inline-block;
    _float: left;
    list-style: none;
}

li a {
    text-decoration: none;
    display: block;
    padding: 0.5em 1.125em;
}



.row{
    border-top: 0.250em  ;
    padding-right: 15px;
padding-left: 15px;
padding-top:2.500em;
}

.row * {
    width: 960px;
    margin: auto;
}

footer {
    margin-top: 30px;
}

footer * {
    width: 960px;
    margin: auto;
}

.llista_simple {
    border-bottom: none;
    overflow: hidden;
    padding: 0.875em 0 0.875em 15px;
}

.llista_simple>li {
    border-top: none;
    border-radius: 0;
    padding-top: 13px;
    border-bottom: none;
    padding-left: 0;
    padding-bottom: 0.463em;
    list-style-position: inside;
    border: none;
    position: relative;
    display: block;
}

.llista_simple>li>a {
    display: block;
    text-align: left;
    padding: 0 2em .6em 1em;
    width: 80%;
    height: 25px;
    word-break: break-word;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.llista_simple>li>a::before {
    content: "\2022";
    position: absolute;
    left: 0;
    box-sizing: border-box;
}

.col-md-3-custom {
    width: 25% !important;
    float: left !important;
}

.subtitle{
    margin: 0 0 0.615em 0;
    display: inherit;
    margin: initial;
    padding: initial;
}

.right{
    border-bottom: 2px solid #ddd;
    width:50%;
}

.right p{
    margin: 0;
}

.llista-especial{
    margin:0;
    padding:0;
    position: relative;
    list-style: none;
    line-height: 1.45;
}