* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100%;
    width: 100%;
    margin: auto;
}

.header_content {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

.header_logo {
    min-height: 50px;
}

.header_logo img {
    width: 172px;
}

.header_titol {
    margin-bottom: 20px;
    text-align: left;
    margin-top: -4px;
}

.header_menu {
    line-height: 20px;
}

.header {
    padding-top: 10px;
    height: 100%;
    min-height: 1px;
}

img {
    width: 100%;
    height: auto;
}

ul {
    padding: 0px;
}

li {
    display: inline-block;
    _float: left;
    list-style: none;
}

li a {
    text-decoration: none;
    display: block;
    padding: 0.5em 1.125em;
}

.row {
    border-top: 0.250em;
    padding-right: -30px !important;
    padding-left: -30px !important;
    padding-top: 0.500em;
}

.col-lg-6 {
    padding-right: 0px;
    padding-left: 0px;
}

p {
    margin-bottom: 10px;
}

.fons_footer {
    margin-top: 10px;
}

footer {
    margin-top: 30px;
}

footer * {
    width: 1170px;
    margin: auto;
}

.avis_legal {
    border-top: 2px solid #ccc;
    padding: 20px 0;
}

.llista_simple {
    border-bottom: none;
    overflow: hidden;
    padding: 0.875em 0 0.875em 15px;
}

.llista_simple>li {
    border-top: none;
    border-radius: 0;
    padding-top: 13px;
    border-bottom: none;
    padding-left: 0;
    padding-bottom: 0.463em;
    list-style-position: inside;
    border: none;
    position: relative;
    display: block;
}

.llista_simple>li>a {
    display: block;
    text-align: left;
    padding: 0 2em .6em 1em;
    width: 80%;
    height: 25px;
    word-break: break-word;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.llista_simple>li>a::before {
    content: "\2022";
    position: absolute;
    left: 0;
    box-sizing: border-box;
}

.col-md-3-custom {
    width: 25% !important;
    float: left !important;
}

.subtitle {
    margin: 0 0 0.615em 0;
    display: inherit;
    margin: initial;
    padding: initial;
}

figcaption {
    padding: 1em 0;
    border-bottom: 2px solid #ddd;
    width: 66%;
}

.imgProfessor{
    width: 250px !important;
    height: 250px !important;
}

.right p {
    margin: 0;
}

.right img {
    width: 66%;
}

.llista-especial {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    line-height: 1.45;
}

.avis_legal img {
    width: 9%;
    float: left;
    margin-left: 0.45em;
    margin-right: 80px;
}